# Pre-commit configuration.
# Update versions: 'pre-commit autoupdate'
# Manual check: 'pre-commit run --all-files'
# Angel Martinez Tenor - July 2022
exclude: 'data/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: trailing-whitespace
    - id: mixed-line-ending
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
    - id: check-yaml
    - id: check-json
    - id: pretty-format-json
      args: ['--autofix']
    - id: check-merge-conflict
    - id: check-case-conflict
    - id: check-docstring-first
    # - id: check-added-large-files
    #   args: ['--maxkb=2000']

- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.5.3
  hooks:
    # - id: nbqa-isort
    #   args: ['--line-length=120']
    - id: nbqa-black
      args: ['--line-length=120']
    # - id: nbqa-flake8
    #   args: [--max-line-length=120]
    # args: [--nbqa-mutate]

- repo: https://github.com/asottile/pyupgrade
  rev: v3.2.2
  hooks:
  - id: pyupgrade
    args: [--py310-plus]



- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
    args: ['--line-length=120']

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: ['--line-length=120', '--profile', 'black']
    name: isort (python)
    stages: [commit]
    # stages: [commit]
    # language: system
    # entry: isort
    # types: [python]

- repo: https://github.com/pycqa/flake8
  rev: 5.0.4

  hooks:
  - id: flake8
    args: ['--max-line-length=120']


# - repo: local
#   hooks:
#   - id: jupyter-nb-clear-output
#     name: jupyter-nb-clear-output
#     files: \.ipynb$
#     stages: [commit]
#     language: system
#     entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
